/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[15].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[15].oneOf[7].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[15].oneOf[7].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[15].oneOf[7].use[5]!./src/components/Stack/Stack.module.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Stack_Stack__ytS3Z {
  margin-top: -16px;
  margin-left: -16px;
}
.Stack_Stack__ytS3Z > .Stack_Item__5tIKH {
  margin-top: 16px;
  margin-left: 16px;
  max-width: 100%;
}
.Stack_Stack__ytS3Z {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.Stack_noWrap__j8__7 {
  flex-wrap: nowrap;
}

.Stack_spacingNone__FLkGe {
  margin-top: 0;
  margin-left: 0;
}
.Stack_spacingNone__FLkGe > .Stack_Item__5tIKH {
  margin-top: 0;
  margin-left: 0;
  max-width: 100%;
}

.Stack_spacingExtraTight__y553R {
  margin-top: -4px;
  margin-left: -4px;
}
.Stack_spacingExtraTight__y553R > .Stack_Item__5tIKH {
  margin-top: 4px;
  margin-left: 4px;
  max-width: 100%;
}

.Stack_spacingTight__GUyGX {
  margin-top: -8px;
  margin-left: -8px;
}
.Stack_spacingTight__GUyGX > .Stack_Item__5tIKH {
  margin-top: 8px;
  margin-left: 8px;
  max-width: 100%;
}

.Stack_spacingLoose__xZt1u {
  margin-top: -20px;
  margin-left: -20px;
}
.Stack_spacingLoose__xZt1u > .Stack_Item__5tIKH {
  margin-top: 20px;
  margin-left: 20px;
  max-width: 100%;
}

.Stack_spacingExtraLoose__HMgRW {
  margin-top: -32px;
  margin-left: -32px;
}
.Stack_spacingExtraLoose__HMgRW > .Stack_Item__5tIKH {
  margin-top: 32px;
  margin-left: 32px;
  max-width: 100%;
}

.Stack_distributionLeading__ul4_v {
  justify-content: flex-start;
}

.Stack_distributionTrailing__6oW8f {
  justify-content: flex-end;
}

.Stack_distributionCenter__dCFTk {
  justify-content: center;
}

.Stack_distributionEqualSpacing__K9T3w {
  justify-content: space-between;
}

.Stack_distributionFill__95dSx > .Stack_Item__5tIKH {
  flex: 1 1 auto;
}

.Stack_distributionFillEvenly__Plq8h > .Stack_Item__5tIKH {
  flex: 1 1 auto;
}
@supports (min-width: fit-content) {
  .Stack_distributionFillEvenly__Plq8h > .Stack_Item__5tIKH {
    flex: 1 0;
    min-width: fit-content;
  }
}

.Stack_alignmentLeading__eUGru {
  align-items: flex-start;
}

.Stack_alignmentTrailing__h4BZZ {
  align-items: flex-end;
}

.Stack_alignmentCenter__NEQWS {
  align-items: center;
}

.Stack_alignmentFill__YfSlC {
  align-items: stretch;
}

.Stack_alignmentBaseline__T_tJ4 {
  align-items: baseline;
}

.Stack_vertical__Us3bx {
  flex-direction: column;
  margin-left: 0;
}
.Stack_vertical__Us3bx > .Stack_Item__5tIKH {
  margin-left: 0;
}

.Stack_Item__5tIKH {
  flex: 0 0 auto;
  min-width: 0;
}

.Stack_Item-fill__9zgka {
  flex: 1 1 auto;
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[15].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[15].oneOf[7].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[15].oneOf[7].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[15].oneOf[7].use[5]!./src/views/Home/components/CardItem/index.module.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.CardItem_templeteItem__ZK7Q_ {
  margin: 20px;
  width: 220px;
  height: 350px;
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  position: relative;
  overflow: hidden;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center top;
}
.CardItem_templeteItem__ZK7Q_:hover .CardItem_mask__MKdFw {
  opacity: 1;
}
.CardItem_templeteItem__ZK7Q_ .CardItem_mask__MKdFw {
  position: absolute;
  transition: all 0.5s;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.CardItem_templeteItem__ZK7Q_ .CardItem_mask__MKdFw .CardItem_listBottom__osefB {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: center;
  display: flex;
  border-top: 1px solid #eee;
}
.CardItem_templeteItem__ZK7Q_ .CardItem_mask__MKdFw .CardItem_listBottom__osefB .CardItem_listItem__5vm34 {
  color: #fff;
  flex: 1 1;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: nowrap;
  font-size: 14px;
  cursor: pointer;
  border-right: 1px solid #eee;
}
.CardItem_templeteItem__ZK7Q_ .CardItem_mask__MKdFw .CardItem_listBottom__osefB .CardItem_listItem__5vm34:last-child {
  border-right: none;
}
.CardItem_templeteItem__ZK7Q_ .CardItem_mask__MKdFw .CardItem_listBottom__osefB .CardItem_listItem__5vm34 a {
  color: #fff;
  white-space: nowrap;
}
.CardItem_templeteItem__ZK7Q_ .CardItem_bottom__LN_df {
  border-top: 1px solid #ccc;
  padding: 16px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #fff;
  left: 0;
}
